<!--<configuration>-->
<system.diagnostics>

	<!--
	learn.microsoft.com/en-us/dotnet/api/system.diagnostics.trace.assert?view=net-7.0
	
	
The display of the message box depends on the presence of the DefaultTraceListener. If the DefaultTraceListener is not in the Listeners collection, the message box is not displayed. The DefaultTraceListener can be removed by calling the Clear method on the Listeners property (System.Diagnostics.Trace.Listeners.Clear()). For .NET Framework apps, you can also use the <clear> element and the <remove> element in your app's configuration file.


	
	For .NET Framework apps, you can change the behavior of the DefaultTraceListener in the configuration file that corresponds to the name of your application. In this file, you can enable and disable the assert message box or set the DefaultTraceListener.LogFileName property. The configuration file should be formatted as follows:-->
	<switches>
		<add name="mySwitch" value="4"/>
	</switches>
	<trace autoflush="false" indentsize="4"/>
	<assert assertuienabled="true" logfilename=".\TraceLog.txt"/>
</system.diagnostics>
<!--</configuration>-->
