<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.241016.32119" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.241016.32253" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.7" targetFramework="net481" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net481" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.7.3" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.7.3" targetFramework="net481" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.7.3" targetFramework="net481" />
  <package id="Microsoft.Testing.Platform" version="1.7.3" targetFramework="net481" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.7.3" targetFramework="net481" />
  <package id="Microsoft.TestPlatform.AdapterUtilities" version="17.14.1" targetFramework="net481" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.14.1" targetFramework="net481" />
  <package id="MSTest.Analyzers" version="3.9.3" targetFramework="net481" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="3.9.3" targetFramework="net481" />
  <package id="MSTest.TestFramework" version="3.9.3" targetFramework="net481" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json.Bson" version="1.0.3" targetFramework="net481" />
  <package id="nilnul._acc_._LIB_" version="2.1.241204.115319" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.250417.141758" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.250403.154606" targetFramework="net481" />
  <package id="nilnul._collective_._LIB__" version="1.0.250314.91731" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.250710.91321" targetFramework="net481" />
  <package id="nilnul._lang_._LIB_" version="1.1.250405.132122" targetFramework="net481" />
  <package id="nilnul._linq_._LIB_" version="1.1.240824.153439" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.241212.85916" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.241212.85916" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.250708.131429" targetFramework="net481" />
  <package id="nilnul._os_._LIB4FX_" version="1.0.241001.153554" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.250424.44336" targetFramework="net481" />
  <package id="nilnul._relation_._LIB_" version="1.0.250323.170516" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.250118.94723" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.250708.125318" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.250407.50617" targetFramework="net481" />
  <package id="nilnul._win_._LIB_" version="1.1.241018.181651" targetFramework="net481" />
  <package id="nilnul._xml_._LIB_" version="1.1.250227.70442" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.241123.135147" targetFramework="net481" />
  <package id="nilnul.lang_._cognom_._LIB_" version="2.0.250301.125903" targetFramework="net481" />
  <package id="nilnul.lang_._cot_._LIB_" version="2.0.240820.192426" targetFramework="net481" />
  <package id="nilnul.lang_._cot_._LIB4FX_" version="1.0.240820.181034" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.250329.142625" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.250704.135116" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.250704.112445" targetFramework="net481" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.250413.134211" targetFramework="net481" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.250521.95721" targetFramework="net481" />
  <package id="nilnul.num.real._stream_._LIB_" version="1.0.250211.94435" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="9.0.7" targetFramework="net481" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net481" />
  <package id="System.Console" version="4.3.1" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.7" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="9.0.7" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="9.0.7" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net481" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="9.0.7" targetFramework="net481" />
  <package id="System.Text.Json" version="9.0.7" targetFramework="net481" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net481" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net481" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net481" />
</packages>